@font-face {
    font-family: 'Avenir';
    src: url(Avenir.ttc) format('truetype');

}
body{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: #ffffff;
    font-family: 'Avenir',sans-serif;
}
.up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
}

.up a {
    height: 40px;
    width: 38px;
    text-align: center;
    background: rgba(98,98,168, 0.8);
    display: block;
    border-radius: 50%;
    cursor: pointer;
}

.up a span {
    color: #ffffff;
    line-height: 40px;
    font-size: 25px;
}

.grid-container {
    display: grid;
    grid-template-areas: 
      'nav nav nav nav nav nav'
      'booth booth booth detail detail detail'
      'detail2 detail2 detail2 workshop workshop workshop'
      'contact contact contact news news news'
      ;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    background-color: #c8d87d;
    position: sticky;
    top: 0;
    grid-area: nav;
  }

.nav_logo img{
    padding-left: 20px;
    width: 120px;
    align-items: center;
}
a{
    color: #447604;
    text-decoration: none;
    font-size:20px ;
    font-weight: bold;

}
.nav_link{
    cursor: pointer;
}
.nav_link .nav_icon{
    display: none;
    padding-right: 35px;
}
.nav_link a {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    z-index: 2;
    padding-left: 25px;
    margin: 5px;
}
.nav_link a::after{
    content: '';
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 25%;
    width: 100%;
    height: 100%;
    background-color: #447604;
    transition: .5s;
    transform:translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: left 0.5s, opacity 0.5s;
}
.nav_link a:hover{
    color: #ffffff;
}
.nav_link a:hover::after{
    left: 50%;
    opacity: 1;
}

.nav_cart{
    padding-right: 25px;
}
.nav_cart .badge {
    font-size: small;
    position: absolute;
    top: 15px;
    right:10px;
    padding: 2px 7px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
.booth{
    background-color: #c8d87d;
    grid-area: booth;
    text-align: center;
}
.booth img{
    width: 65%;
    grid-area: booth;
    padding: 25px 0 25px 0;
}
.booth-details{
    grid-area: detail;
    width: 100%;
    color: #447604;
}
.booth-details h1{

    font-size: 50px;
    padding-left: 25px;
    font-weight:1000;
}
.booth-details p{
    font-size: 20px;
    padding: 30px;
    text-align: justify;
}
.booth-details button{
    margin-bottom: 25px;
    margin-left: 25px;
    border: 2px solid;
    border-radius: 100%;
    border-color: #447604;
    background-color: #ffffff;
    color: #447604;
    font-size: 14px;
    font-weight: bold;
    padding: 11px 17px 11px 17px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.booth-details button:hover{
    background-color: #447604;
    color: #ffffff;
}
.workshop{
    background-color: #bdbdf4;
    grid-area: workshop;
    text-align: center;
}
.workshop img{
    grid-area: workshop;
    width: 65%;
    padding: 55px 0 25px 0;
}
.workshop-details{
    grid-area: detail2;
    width: 100%;
 
}
.workshop-details h1{
    padding-top: 20px;
    font-size: 50px;
    padding-left: 25px;
    color: #6262a8;
    font-weight:1000;
}
.workshop-details p{
    font-size: 20px;
    padding: 30px;
    text-align: justify;
    color: #6262a8;
}
.workshop-details button{
    margin-left: 25px;
    margin-bottom: 20px;
    border: 2px solid;
    border-radius: 100%;
    border-color: #6262a8;
    background-color: #ffffff;
    color: #6262a8;
    font-size: 14px;
    font-weight: bold;
    padding: 11px 17px 11px 17px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.workshop-details button:hover{
    background-color: #6262a8;
    color: #ffffff;
}
.contact{
    grid-area: contact;
    background-color: #c8d87d;
    text-align: center;
    padding: 25px;
    color: #ffffff;
}
.text{
    font-size: 25px;
}
.icons{
    display: flex;
    justify-content: space-between;
    padding:50px 65px 0 65px;
    align-items: center;
}
.wa,.ig {
    color: #ffffff;
    background-color: #447604;
    padding: 8px 11px 8px 11px;
    border-radius: 50%;
}
.email{
    color: #ffffff;
    background-color: #447604;
    padding: 8px 9px 8px 9px;
    border-radius: 50%;

}
.copyright{
    font-weight: 1000;
    margin-top: 100px;
}
.newsletter{
    grid-area: news;
    background-color: #ffffff;
    text-align: center;
    padding: 25px 0 25px 0;
    color: #6262a8;
}
.news-text{
    font-size: 25px;
    font-weight: 1000;
}
.input-group{
    text-align: center;
    padding-top: 10px;
}
.input-group p{
    margin: 0 25px 0 25px;
    text-align: justify center;
    font-size: 15px;
}
.input-group input{
    margin-top: 35px;
    width: 300px;
    height: 50px;
    font-size: 16px;
    color: #000000;
    padding: 0 5px;
    background-color: #bdbdf4;
    border: 2px solid #6262a8;
    outline: none;
    border-radius: 5px;
}
.input-group button{
    margin-top: 35px;
    border: 2px solid;
    border-radius: 100%;
    border-color: #6262a8;
    background-color: #ffffff;
    color: #6262a8;
    font-size: 14px;
    font-weight: bold;
    padding: 11px 17px 11px 17px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.input-group button:hover{
    background-color: #6262a8;
    color: #ffffff;
}


@media screen and (max-width: 600px) {

    .header{
        width: 70%;
            display: inline-flex;
            position: absolute;
            justify-content: space-between;
            padding: 0;
          }
    .nav_logo{
        grid-area: nav1;
    }
    .nav_logo img{
            width:70px;
            align-items: center;
    
        }
    .nav_link a{
            display: none;
            text-align: center;
        }
    
    .nav_link .nav_icon {
            float: none;
            display: block;
            text-align: center;
            padding-left: 30px;
        }
    .nav_link.responsive {
        transition: 1s ease;
        float: none;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-right: 30px;
    }
    
    .nav_link.responsive a.nav_icon {
        transition: 1s ease;
        float: none;
        position: relative;
        top: 0;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .nav_link a:hover{
        color: #ffffff;
    }
    .nav_link.responsive a:hover{
        color: #ffffff;
    }
    .nav_link.responsive a {
        transition: 1s ease;
        float: none;
        display: block;
        padding: 10px;
        font-size: 10px;
    }
    .nav_link a::after{
        margin-left: 0px;

    }
    .nav_cart{
        margin-right: 0;
    }
    .nav_cart .badge{
        top:0
      
      }
.booth{
    padding: 100px 10px 0 10px;
    margin: 0;
}
    .booth img{
        width:190px;
    }
    .booth-details h1{
        font-size: 25px;
        padding: 50px 20px 0 20px;
    }
    .booth-details p{
        font-size: 10px;
        padding: 0 20px 15px 20px;
    }
    .booth-details button{
        font-size: 8px;
        padding: 7px 13px 7px 13px;
    }
.workshop{
    padding: 100px 10px 0 10px;
    margin: 0;
}
.workshop-details h1{
    font-size: 25px;
    padding: 50px 20px 0 20px;
}
.workshop-details p{
    font-size: 10px;
    padding: 0 20px 15px 20px;
}
.workshop-details button{
    font-size: 8px;
    font-weight: bold;
    padding: 7px 13px 7px 13px;

}  
.workshop{
    padding: 100px 10px 0 10px;
    margin: 0;
}
.workshop img{
    width: 190px;
    padding: 0;
    margin: 0;
}
.workshop-details{
    padding-bottom: 25px;
}
.workshop-details h1{
    font-size: 25px;
    padding: 10px 20px 0 20px;
}
.workshop-details p{
    font-size: 10px;
    padding: 0 20px 15px 20px;

}
.workshop-details button{
    font-size: 8px;
    padding: 7px 13px 7px 13px;
}
.contact{
    padding: 0;
}
.text{
    font-size: 12px;
    padding-top: 25px;
}
.icons{
    display: flex;
    justify-content: space-between;
    padding:0 25px ;

    align-items: center;
}
.icons{
    padding: 25px;
}
.wa,.ig {  
    font-size:70%;
    padding: 4px 7px 4px 7px;
}
.email{
    font-size:68%;
    padding: 4px 6px 4px 6px;
}
.copyright{
    margin-top: 0;
    font-size: 10px;
}
.newsletter{
    padding: 0;
}
.news-text{
    font-size: 12px;
    padding-top: 25px;
}
.input-group{
    text-align: center;
    padding: 0 0 30px 0;
}
.input-group p{
    margin:0;
    padding-bottom: 15px;
    text-align: justify center;
    font-size: 8px;
}
.input-group input{
    margin-top: 0;
    width: 150px;
    height: 25px;
    font-size: 10px;
}
.input-group button{
    margin-top: 0;
    font-size: 8px;
    padding: 7px 14px 7px 14px;
}
}

@media screen and (max-width: 400px) {
.booth-details h1{
    padding-top:60px;
    font-size: 16px;
}
.booth-details p{
    font-size: 8px;
}
.booth img{
    padding-bottom: 80px;
}
.workshop img{
    padding-bottom: 100px;
    margin: 0;
}
.workshop-details h1{
    padding-top: 30px;
    font-size: 16px;
}
.workshop-details p{
    font-size: 8px;
}

.text{
    font-size: 10px;
}
.news-text{
    font-size: 10px;
}
.input-group input{
    width: 100px;

}
.copyright{
    font-size: 8px;
}

.wa,.ig {  
    font-size:50%;
    padding: 4px 7px 4px 7px;
}
.email{
    font-size:48%;
    padding: 4px 6px 4px 6px;
}
.workshop img, .booth img{
    width: 150px;
}
.input-group p{
    margin:0;
    padding-bottom: 15px;
    text-align: justify center;
    font-size: 8px;
}
.workshop-details button, .booth-details button {
    font-size: 6px;
    margin-bottom: 0;
    padding: 7px 8px 7px 8px;
}
.input-group button {
    padding: 7px 10px 7px 10px;
}
}
